[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "flask run --port=8080 --host=0.0.0.0"

[packages]
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
