{% extends "index.html" %}
{% block head %}
		<!-- Local Stylesheets and Scripts -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}
{% block body %}
		<h1>Greetings! 👀</h1>
		<section class="section1 row">
			<div class="avatar col-4">
				<img src="{{ url_for('static', filename='images/Nadie.png') }}">
				<div class="m-0 social-links">
					<div class="fab fa-discord fa-2x"></div>
					<div class="fab fa-github fa-2x"></div>
					<div class="fas fa-envelope fa-2x"></div>
					<div class="fab fa-twitter fa-2x"></div>
				</div>
			</div>
			<div class="text col-8">
				<h2>Nadie Fiind</h2>
				<span>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Etiam egestas, urna non sollicitudin scelerisque,
					lorem mauris interdum massa, at vestibulum erat mauris eget justo.
					Mauris mattis, mi sed luctus convallis, lectus lorem bibendum augue,
					sit amet luctus dui urna a velit.
					Quisque faucibus aliquam mauris quis suscipit.
					Nullam eu sollicitudin odio.
					Aliquam maximus auctor quam, id porta leo tincidunt at.
					Pellentesque habitant morbi tristique senectus et netus et malesuada
					fames ac turpis egestas. Quisque nec lorem consequat,
					commodo mauris in, hendrerit augue. Praesent laoreet ex quis quam
					tincidunt accumsan. Suspendisse in mi pretium, efficitur quam eget,
					consequat ligula. In hac habitasse platea dictumst.
					Aliquam in euismod ex. Nunc eleifend convallis iaculis.
					Curabitur quis iaculis diam.
					Aliquam efficitur lacus eu ante dignissim auctor.
				</span>
			</div>
		</section>
{% endblock body %}