{% extends "index.html" %}
{% block head %}
		<!-- Local Stylesheets and Scripts -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<script src="{{ url_for('static', filename='scripts/home.js') }}" defer></script>
{% endblock head %}
{% block body %}
		<header>
			<h1 class="noselect">
				Working in progress
				<span class="dot">.</span>
				<span class="dot">.</span>
				<span class="dot">.</span>
			</h1>
		</header>
		<section class="section1 row">
			<div class="avatar col-12 col-md-4">
				<img src="{{ url_for('static', filename='images/Nadie.png') }}">
				<div class="m-0 social-links">
					<a target="_blank" href="https://discordapp.com/users/459745032811839500" class="fa-2x fab fa-discord"></a>
					<a target="_blank" href="https://github.com/NadieFiind" class="fa-2x fab fa-github"></a>
					<a target="_blank" href="mailto:nadiefiind@gmail.com" class="fa-2x fas fa-envelope"></a>
					<a target="_blank" href="https://twitter.com/NadieFiind" class="fa-2x fab fa-twitter"></a>
				</div>
			</div>
			<div class="text col-12 col-md-8">
				<h2><span>It's</span> Nadie Fiind! <span>＼(￣▽￣)／</span></h2>
				<span>Hi! I still don't know what to put on here.</span>
			</div>
		</section>
{% endblock body %}